{% load i18n %}
{% autoescape off %}
{% trans "To initiate the password reset process for your CAM Account, click the link below:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    {% trans "The username linked with this account is: " %}{{ user.username }}

{% trans "If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead." %}

{% trans "Sorry for the inconvenience," %}
{% trans "CAM Team" %}
{% endautoescape %}