<script>
    $("#btn-Preview-Image").on('click', function (e) {
        html2canvas(document.querySelector('#CAM_items')).then(function(canvas) {
            var dataImage = canvas.toDataURL("image/png");
        $.ajax({
            async:false,
            url: "{% url 'image_CAM' %}",
            type: "POST",
            data: {
                'html_to_convert': dataImage,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(data){
                console.log(data)
                saveAs(data.file_name, data.file_name);
            },
            error: function(){
                console.log("Error")

            },
            complete: function(){
            }
        })//end ajax
        });
        });
    function saveAs(filename, dataUrl) {
        //var link = document.createElement('a');
        //if (typeof link.download === 'string') {
            //link.href = uri;
            //link.download = filename;
            //Firefox requires the link to be in the body
            //document.body.appendChild(link);
            //simulate click
            //link.click();
            //remove the link when done
            //document.body.removeChild(link);
        //} else {
        //    window.open(uri);
        //}
        // Construct the 'a' element
    var link = document.createElement("a");
    link.download = filename;
    link.target = "_blank";

    // Construct the URI
    link.href = dataUrl;
    document.body.appendChild(link);
    link.click();

    // Cleanup the DOM
    document.body.removeChild(link);
    delete link;
    }
</script>
