{% load i18n %}
<script>
    //-------------------- IMAGE SAVE -------------------//
    function unload_save(){
        html2canvas(document.querySelector('#CAM_items')).then(function(canvas) {
            var dataImage = canvas.toDataURL("image/png");
            $.ajax({
                async:false,
                url: "{% url 'image_CAM' %}",
                type: "POST",
                data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'html_to_convert': dataImage,
                },
                success: function(data){
                //saveAs(canvas.toDataURL(), 'CAM.png');
                },
                error: function(){
                console.log("Error")
                },
                complete: function(){
                }
            })//end ajax
        });
    }
    $("#btn-Save-Image").on('click', function (e) {
        html2canvas(document.querySelector('#CAM_items'), width=1000).then(function(canvas) {
            var dataImage = canvas.toDataURL("image/png");
            $.ajax({
                async:false,
                url: "{% url 'image_CAM' %}",
                type: "POST",
                data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'html_to_convert': dataImage,
                },
                success: function(data){
                //saveAs(canvas.toDataURL(), 'CAM.png');
                },
                error: function(){
                console.log("Error")
                },
                complete: function(){
                }
            })//end ajax
        });
        // Ajax call to backend to save all blocks and links
        // First collect all the block information
        let blocks = [];
        $(".block").each(function() {
            let ct = $(this).attr('data-title');
            let textsize = $(this).children('div').eq(1).children('span').eq(0).css('font-size')  // Get updated font-size attribute
            let X = $(this).css('left');
            let Y = $(this).css('top');
            let width = $(this).css('width').trim('px');
            let height = $(this).css('height').trim('px');
            let title =$ ('#title_'+ct).val(),
            shape_ = 5;
            if ($(this).hasClass('hexagonAmb')){
                shape_ = 7
            }
            else {
                shape_ = $('#shape_'+ct).attr('value')
            }
            blocks.push()
        });

        // Quick note to user
        let fadeComment = '<div class="text-success text-center fadeCom">{% trans 'You response has been saved' %}</div>';
        $('#SaveMessage').prepend(fadeComment);
        $('.fadeCom').fadeOut(5000);
    })
</script>
