 <!-- templates/signup.html -->
{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Cognitive Affective Maps' %}{% endblock %}

{% block content %}
        <!---------- Custom Javascript Files----------------->
        <script src="{% static 'jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
        <script src="{% static 'general_java/kepress_options.js' %}"></script>
        <script src="{% static 'concept_java/slider.js' %}"></script>
        <script src="{% static 'line_java/slider_link.js' %}"></script>
        <script src="{% static 'concept_java/checkbox.js' %}"></script>
        <script src="{% static 'concept_java/basic_concept.js' %}"></script>
        <script src="{% static 'concept_java/existing_concept_init.js' %}"></script>
        <script src="{% static 'line_java/line_def.js' %}"></script>
        <script src="{% static 'line_java/line_select.js' %}"></script>
        <script src="{% static 'line_java/Link_Update.js' %}"></script>
        <script src="{% static 'concept_java/close_block.js' %}"></script>
        <script src="{% static 'general_java/zoom.js' %}"></script>
        <script src="{% static 'html2canvas.min.js' %}"></script>
        <script src="{% static 'jquery.textFit.js' %}"></script>
        <!------------------CUSTOM CSS FILES----------------->
        <link rel="stylesheet" href="{% static 'CSS/CAM.css' %}">
        <link rel="stylesheet" href="{% static 'CSS/block.css' %}">
        <link rel="stylesheet" href="{% static 'CSS/link.css' %}">
        {% include 'tour.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper bg-topology">



    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-9 mt-2">

                <div class="card p-0 resizable-box">
                    <div class="card-header" id="primary_head">
                      <div class="row">
                        <div class="col-sm-4">


                            <div> <!-- ZOOM -->
                                  <a class="btn-floating btn-sm text-primary" style="cursor:pointer" id="btn_ZoomIn"><i class="fas fa-plus-circle text-black"></i></a>
                                  <a class="btn-floating btn-sm text-primary" style="cursor:pointer" id="btn_ZoomOut"><i class="fas fa-minus-circle text-black"></i></a>
                                  <!--<button class="btn btn-outline-info" id="btn_ZoomReset">Zoom Reset</button>-->
                                  <a class="btn-floating btn-sm text-primary" id="zoom_lev">{% trans 'Zoom' %}: 1</a>
				  {% if user.is_researcher %}
                                <button type="button" id="resize-button" class="btn btn-info">{% trans 'Resizeable' %}</button>
				{% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div> <!-- Links and Concepts -->
                                <a class="btn-floating btn-sm align-content-center text-primary" id="select_" style="cursor:pointer" title="{% trans 'Cursor Mode' %}"><i class="fas fa-mouse-pointer GeneralFont text-primary"></i></a>
                                <a class="btn-floating btn-sm align-content-center text-primary" id="concept_add" style="cursor:pointer;border:solid 1px blue" title="{% trans 'Concept Mode' %}"><i class="fas fa-shapes GeneralFont text-primary"></i></a>
                                <a class="btn-floating btn-sm align-content-center text-primary" id="link_add" style="cursor:pointer" title="{% trans 'Link Mode' %}"><i class="fas fa-share-alt GeneralFont"></i></a>
                            </div>
                            <div id="SaveMessage"></div>
                        </div>

                        <div class="col-sm-4">

                            <div class="float-right"> <!-- SAVING FEATURES -->
                               <!--<a id="btn-Save-Image" class="btn btn-sm text-primary"  style="cursor:pointer" title="{% trans 'Save Map' %}">
				<i class="fas fa-mouse-pointer fa-save GeneralFont"></i><span class="text-sm" style="display: block">{% trans 'Save' %}</span>
			      </a> -->

                                {#  {% if user.language_preference == 'en' %}  #}
                                <!--<a class="btn btn-sm text-primary" id="btn-Preview-Image" style="cursor:pointer" title="{% trans 'Generate Image' %}">
				  <i class="far fa-file-image GeneralFont"></i><span class="text-sm" style="display: block">{% trans 'Download' %}</span>
				</a>-->
                                     <a class="btn btn-sm text-primary" href="{% url 'export_CAM' %}" style="cursor:pointer" title="{% trans 'Export Map' %}">
				       <i class="fas fa-download GeneralFont" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Export Map' %}"></i>
                                         <span class="text-sm" style="display: block">{% trans 'Export' %}</span>
				     </a>
                                 <a  class="btn btn-sm text-primary" data-toggle="modal" style="cursor:pointer" data-target="#exampleModal" title="{% trans 'Import Map' %}">
                                   <i class="fas fa-upload GeneralFont"></i>
                                     <span class="text-sm" style="display: block">{% trans 'Import' %}</span>
                                </a>
                                    <!--<a class="btn-floating btn-sm text-primary" style="cursor:pointer" title="{% trans 'Send Map' %}" data-toggle="modal" data-target="#SendModal"><i class="fas fa-paper-plane GeneralFont"></i></a>-->
                                {# {% endif %} #}
                                <!--<a class="btn btn-sm text-primary" id="UndoAction" style="cursor:pointer" title="{% trans 'Undo' %}">
                                    <i class="fas fa-undo"></i><span style="display: block">{% trans 'Undo' %}</span>
                                </a>-->
                                 <a class="btn btn-sm text-danger" style="cursor:pointer" title="{% trans 'Reset Map' %}" data-toggle="modal"  data-target="#DeleteModal">
				   <i class="fas fa-trash text-danger"></i><span class="text-sm" style="display: block">{% trans 'Reset Map' %}</span>
				 </a>
                            </div>
                        </div>
                      </div>
                  </div> <!-- END CARD HEADER -->
                    <div class="card-body align-self-stretch" id="CAM_items" style="position:relative;overflow-x: scroll;overflow-y: scroll; min-height: 700px; max-height:700px">

                    </div>

                </div> <!-- END CARD -->

            </div>

            <div class="col-3 mt-2">
                {% include 'base/link-info.html' %}
                {% include 'base/comment-div.html' %}
                <!-- STATIC LEGEND CARD -->
                {% include 'base/legend.html' %}

            </div>
            <!-- End Content Wrapper. Contained page content -->


            </div>

        <!-- Modal for DELETE CAM -->
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DeleteModalLabel">{% trans 'Delete Map' %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% trans 'Are you sure that you want to delete the Map?' %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">{% trans 'Close' %}</button>
                        <button type="button" id="reset_cam" class="btn btn-danger">{% trans 'Delete Map' %}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for IMPORT -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{% trans 'IMPORT FILE' %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form method="post" enctype="multipart/form-data" action="{% url 'import_CAM' %}">
                                {% csrf_token %}
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="myfile" id="myfile">
                                    <label class="custom-file-label" for="customFile" data-browse={% trans 'Browse' %}>{% trans 'Choose File' %}</label>
                                </div>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="Non-Deletable" name="Deletable" id="Deletable" style="display: inline !important">
                                    {% trans 'Check this box if you would like these concepts to be non-deletable' %}
                                </div>
                                <button class="btn btn-outline-primary btn-rounded float-right" type="submit">{% trans 'Upload' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- END CONTAINER -->
    {% include 'Concept/resize_function.html' %}
    {% include 'Admin/SendEmail.html' %}
    {% include 'base/resizeable-button.html' %}
    <script>
        $(document).on('change', '#myfile', function() {
            var input = $(this)
            console.log(input.val().replace(/\\/g, '/').replace(/.*\//, ''))
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
            $(".custom-file-label").text(label)
        });
     var currentZoom = 1.0; // var self = {};
        {% include 'base/undo_action.js' %}
    </script>
    {% include 'Concept/Database_Concept_Placement.html' %}
    {% include 'Concept/place_existing.html' %}
    {% include 'Concept/drag_function.html' %}
    {% include 'Concept/Initial_Concept_Placement.html' %}
    {% include 'Concept/delete_block.html' %}
    {% include 'base/action-selection.html' %}
    {% include 'base/image-save-noDownload.html' %}
    {% include 'base/resize.html' %}
    {% include 'base/image-save.html' %}
    <script>

    $(document).ready(function(e){
        slider_changes();

        // --------------------CONCEPT SELECTION -------------//
        {% include 'base/concept-select.js' %}
        // SAVE IMAGE ON EXIT
        {% include 'base/save-on-exit.js' %}

        // Variables for shift in position due to scroll/drag //
        var shift_left_total = 0;
        var shift_top_total = 0;
        // DEAL WITH THE FACT THAT WE CAN SCROLL
        var scroll_left = 0; var scroll_top = 0;
        $('#primary_card').on("scroll", function (event) {
            scroll_left = this.scrollLeft;
            $('#primary_head').css("left",scroll_left);
            $('#primary_foot').css("left",scroll_left);
           // $('#CAM_items').css('left',scroll_left);
            scroll_top = this.scrollTop;
            $('#primary_head').css("top",scroll_top);
            $('#primary_foot').css("top",scroll_top);
            var CAM_elem = $("#CAM_items");
            if (scroll_left > 0) {
                CAM_elem.css('width', cam_width_max + scroll_left)
            }
            shift_left_total = scroll_left; shift_top_total = scroll_top;
            });

        //--------------------DELETE DEFINITION-------------------------//

        //document.addEventListener('keydown',function(event){
         $(document).on('keydown',function(event){
            // DELETE BLOCKS AND LINKS ON BACKSPACE OR DELETE
            if (event.keyCode === 46 || event.charCode === 46 || event.keyCode === 8 || event.charCode === 8){
                if (event.target.id !== 'Comment_Box' && event.target.id !== 'NewTextScale'){
                    // SELECT BLOCK
                    $('.Selected').each(function(){
                        if ($(this).hasClass('Open')){
                            // Do nothing if the block is open
                        }
                        else{
                            // If block is closed we can delete it
                            if ($(this).attr('data-modifiable') === 'True'){
                                blk_delete($(this)[0]);
                                $(this).remove()
                            }
                            else {
                                console.log("Can't delete this node!")
                            }
                        }
                    });
                    // SELECT LINK
                    $('.Selected-link').each(function(){
                        delete_link($(this));
                        $(this).remove()
                    })
                }
            }
        });// end keydown event listener
        {% include 'base/add-concept.js' %}

        //block_access(event, pageX_, pageY_);
    });
    </script>
    <script>
        {% include 'Admin/reset.html' %}

    </script>
    {% include 'base/comment.html' %}
    {% include 'Concept/update_text_size.html' %}
    <!-- LINK ELEMENT -->
    {% include 'Lines/creation.html' %}
    {% include 'Lines/update_link.html' %}
    {% include 'Lines/delete_link.html' %}
    {% include 'Lines/change_direction.html' %}
    <button type="button" class="btn btn-primary" id="modal_mod_button" data-toggle="modal" data-target="#mod_modal" hidden></button>
    <button type="button" class="btn btn-primary" id="modal_mod_button" data-toggle="modal" data-target="#del_modal" hidden></button>
    <button id="form_cam_block_button" class="btn  btn-primary concept_btn" hidden>{% trans 'Add Concept' %}</button>
    <button id="form_cam_block_button_mod" class="btn  btn-primary modify_concept_btn" hidden>{% trans 'Mod Concept' %}</button>
    <!-- ADDITIONAL JAVASCRIPT FILES -->

    </div>




{% endblock content %}
