.draggable {
    width: 50px;
    height: 90px;
    padding: 1px;
    float: left;
}

.Selected {
    border-color: #50BFE6 !important;
}

.center-text {
  text-align: center;
}

.strong{
    border-width: 6px;
}

.close{
    z-index: 1;
}


.block-form{
    z-index: 1;
}

.Selected-link {
    #background: #DCDCDC !important;
    border-color: #DCDCDC !important;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
    z-index: 1;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
}

.block{
  background: transparent;
  line-height: 1.2rem;
  word-break: break-word;
}

.rectangle{
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Neutral.svg');
  background-size: 100% 100%;
  vertical-align: center;
}
.rectangle.Selected{
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Neutral_Selected.svg');
  background-size: 100% 100%;
  vertical-align: center;
}


.rounded-circle-strong{
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Positive_Strong.svg');
  background-size: 100% 100%;
  vertical-align: center;
}
.rounded-circle-strong.Selected{
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Positive_Strong_Selected.svg');
  background-size: 100% 100%;
  vertical-align: center;
}

.rounded-circle-normal{
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Positive.svg');
  background-size: 100% 100%;
  vertical-align: center;
}
.rounded-circle-normal.Selected{
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Positive_Selected.svg');
  background-size: 100% 100%;
  vertical-align: center;
}

.rounded-circle-weak{
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Positive_Weak.svg');
  background-size: 100% 100%;
  vertical-align: center;
}
.rounded-circle-weak.Selected{
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Positive_Weak_Selected.svg');
  background-size: 100% 100%;
  vertical-align: center;
}



.hexagonAmb {
z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Ambivalent.svg');
  background-size: 100% 100%;
  vertical-align: center;
}
.hexagonAmb.Selected {
z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Ambivalent_Selected.svg');
  background-size: 100% 100%;
  vertical-align: center;
}

.hexagonNegStrong {
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Hexagon_Strong.svg');
  background-size: 100% 100%;
  vertical-align: center;
}
.hexagonNegStrong.Selected {
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Hexagon_Strong_Selected.svg');
  background-size: 100% 100%;
  vertical-align: center;
}

.hexagonNeg {
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Hexagon.svg');
  background-size: 100% 100%;
  vertical-align: center;
}
.hexagonNeg.Selected {
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Hexagon_Selected.svg');
  background-size: 100% 100%;
  vertical-align: center;
}

.hexagonNegWeak {
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Hexagon_Weak.svg');
  background-size: 100% 100%;
  vertical-align: center;
}
.hexagonNegWeak.Selected{
  z-index: 2;
  position: relative;
  width: 140px;
  height: 75px;
  background: url('../concept_svgs/Hexagon_Weak_Selected.svg');
  background-size: 100% 100%;
  vertical-align: center;
}
