<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Sale</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <style>
         th {border-bottom:1px solid #cccccc}
         tr {border-bottom:1px solid #cccccc}
         tr:last-child {border-bottom: none}
         td {padding-right: 25px;
            vertical-align: center;
            align: center;
         }

         .button a{
             position: relative;
             font-size: 15px;
             color: white;
             text-decoration: none;
         }
         .main_div{
             width: 1000px;
         }
     </style>
</head>
<body>
<div align="center">
    <div class="main_div" style="background-color: #f8f8f8;background-size: 50% 100%; background-repeat: no-repeat">
        <h1> From {{ contacter }}: {{ email }}, </h1>


    </div>

    <div class="justify-content-around left-align">
        <p> {{ message }} </p>
    </div>




</div>
</body>
</html>