<div class="container-fluid col-md-10 mt-5">
        <div class="card text-white bg-info  mx-auto mb-5">
          <div class="card-header col-md-12">
              <h2 class="text-center">Directions</h2>
          </div>
            <div class="card-body text-info" id="directions">
                <ul class="list-group">
                  <!-- Concepts -->
                  <li class="list-group-item font-weight-bold">Concepts
                    <ul class="list-group font-weight-light">
                        <li class="list-group-item">Place a Concept: Simply <b>double click</b> within outlined box labeled <i>Cognitive Affective Map</i>, enter information, and <span class="text-danger"><b>press <tt>enter</tt></b></span></li>
                        <li class="list-group-item">Update a Concept: Double click concept</li>
                        <li class="list-group-item">Delete a Concept: Press small <span style="font-size:1rem">&times</span> belonging to the desired concept or simply select the concept and press either <tt>backspace</tt> or <tt>delete</tt></li>
                    </ul>
                  </li>
                  <!-- Links -->
                  <li class="list-group-item font-weight-bold">Links
                    <ul class="list-group font-weight-light">
                        <li class="list-group-item">Place a Link: Click two concepts. They will become highlighted to indicated they are selected.</li>
                        <li class="list-group-item">Update a Link: Click (or Control+ DoubleClick) a link to select it, press the <tt>enter</tt>, fill in the modal form and submit</li>
                        <li class="list-group-item">Delete a Link: Click a link to select it, press either <tt>backspace</tt> or <tt>delete</tt></li>
                    </ul>
                  </li>
                <!-- Additional -->
                  <li class="list-group-item font-weight-bold">Miscellaneous
                    <ul class="list-group font-weight-light">
                        <li class="list-group-item">Delete CAM: Select <span style="color:red;font-size: 1rem" ><tt>Delete CAM</tt></span></li>
                    </ul>
                  </li>
                </ul>
            </div>
        </div>
</div>