div.line{
  transform-origin: 0 100%;
  height: 10px; /* Line width of 3 */
  background: #000; /* Black fill */
}

div.lineDashed{
  border:none;
  border-top:dotted;
}

.Selected-link {
  background: #ff07f4 !important;
}