{% load static %}
{% load widget_tweaks %}
{% load i18n %}
        <div class="content-header">

            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% if user.is_researcher %}
                            <h4 class="m-0 section-title">{% trans 'Individual CAMs' %}</h4>
                        {% else %}
                            <h4 class="m-0 section-title" id="userMapS">{% trans 'Maps' %}</h4>
                        {% endif %}
                     <h3>To update a map, please click on the thumnnail.</h3>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    {% for cam in user.cam_set.all %}
                        <div class="col-3 d-flex align-items-stretch">
                            <!-- small box -->
                            <!-- Custom tabs (Charts with tabs)-->
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">
                                        <i class="fas fa-draw-polygon mr-1"></i>
                                            {{ cam.name }}
                                    </h4>

                                    <div class="float-right DeleteCAM mr-1" id="camDel_{{ cam.id }}">
                                        <i class="fas fa-trash text-dark mr-auto" style="cursor:pointer"  title="{% trans 'Delete Map' %}"></i>
                                    </div>
                                    <div type="button" class="float-right mr-1" data-toggle="modal" data-target="#camNewName_{{ cam.id }}"  title="{% trans 'Edit Map Title' %}">
                                        <i class="far fa-edit"></i>
                                    </div>
				                    <div class="float-right CloneCAM mr-1" id="Clone_{{ cam.id }}"  title="{% trans 'Duplicate Map' %}">
                                        <i class="fas fa-copy text-dark mr-auto" style="cursor:pointer"></i>
                                    </div>
                                    <div class="card-tools">

                                        <div class="modal" tabindex="-1" role="dialog" id="camNewName_{{ cam.id }}">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">{% trans 'Update Name of Map' %}'</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form mb-3">
                                                            <div class="form mb-2">
                                                                <div class="form-group">
                                                                    <label for="NewTitle{{ cam.id }}">{% trans 'Name' %}</label>
                                                                    <input type="text" class="form-control" id="NewTitle{{ cam.id }}" value="{{ cam.name }}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form mb-3">
                                                            <div class="form-group">
                                                                <label for="Description_form_{{ cam.id }}">{% trans 'Description' %}</label>
                                                                <textarea class="form-control rounded-0" id="Description_form_{{ cam.id }}" rows="10">{{ cam.description }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" onclick="update_cam_name({{ cam.id }})">{% trans 'Save changes' %}</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div><!-- /.card-header -->
                                <div class="card-body ind_cam"  id="cam_{{ cam.id }}" style="cursor:pointer">
                                    <div class="tab-content p-0">
                                        {% if user.language_preference == 'de' %}
                                            <img src="{{ MEDIA_URL }}/{{ cam.cam_image }}" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'CAM.png' %}'"
                                                 style="width:100%;object-fit: contain;">
                                        {% else %}
                                            <img src="{{ MEDIA_URL }}/{{ cam.cam_image }}" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'CAM.png' %}'"
                                                 style="width:100%;object-fit: contain;">
                                        {% endif %}
                                    </div>
                                </div><!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    {% endfor %}
                    <!-- ./col -->
                {% if user.is_researcher %}
                    <div class="col-3">
                        <!-- small box -->
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" style="cursor: pointer">
                                    <a id="createNewCam" class="text-primary">
                                        <i class="fas fa-plus-circle"></i>
                                        {% trans 'Create new Map' %}
                                    </a>
                                </h4>
                            </div><!-- /.card-header -->
                        </div>
                        <!-- /.card -->
                    </div>
                {% else %}
                    <div class="col-3">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    <a id="add_to_project" class="text-primary">
                                        <i class="fas fa-plus-circle"></i>
                                        {% trans 'Create new Map' %}
                                    </a>
                                </h4>
                            </div><!-- /.card-header -->
                            <div class="card-body" id="add_to_project_body" hidden>
                                  <form id="participantForm" class="form-horizontal" novalidate>
                                      {% csrf_token %}
                                      <div class="row">
                                          <div class="form-check">
                                              <span class="text-muted text-small">{% trans 'If you are joining a project, please check the button below. If nothing happens, please click again.' %}</span><br>
                                              <input type="checkbox" class="form-check-input" id="project_check">
                                              <label class="form-check-label" for="project_check">{% trans 'Project Participant' %}</label>
                                          </div>
                                      </div>
                                        {% if projects %}
                                        <div class="row proj" hidden>
                                           <div class="form-group col-5">
                                                <label for="project_name">{% trans 'Project Name' %}:</label>
                                                <input class="form-control" id="project_name" name="project_name" placeholder="{% trans 'Project Name' %}"/>
                                            <span class="text-muted text-small">{% trans 'Please enter the project name. If the wrong name is entered, you will receive an error message and a list of available projects' %}</span>
                                            </div>
                                            <div class="form-group col-5">
                                                <label for="project_password">{% trans 'Project Password' %}:</label>
                                                <input class="form-control" id="project_password" name="project_password" placeholder="Project Password"/>
                                            </div>

                                        {% endif %}
                                          <!-- /.col -->

                                          <!-- /.col -->
                                        </div>
                                      <div class="form-group col-5 float-right">
                                          <button id="participantFormSubmit" type="submit" class="btn btn-primary btn-block mt-4">{% trans 'Create Map' %}</button>
                                      </div>
                                      </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                    <!-- ./col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->

        </section>
        <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
        <script>
	   $('.CloneCAM').on('click', function(){
                    $.ajax({
                        async:false,
                        url: "{% url 'clone_cam' %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'cam_id': $(this).attr('id').split('_')[1],
                        },
                        success: function(data){
                            window.location.reload()
                        },
                        error: function(){
                            console.log("Error")
                        },
                    })//end ajax

           })
	  
          function update_cam_name(cam_id){
                $.ajax({
                    async:false,
                    url: "{% url 'update_cam_name' %}",
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'cam_id': cam_id,
                        'new_name': $('#NewTitle'+cam_id).val(),
                        'description': $('#Description_form_'+cam_id).val()
                    },
                    success: function(data){
                        window.location.reload()
                    },
                    error: function(){
                        console.log("Error")
                    },
                })//end ajax
            }
            $('#project_check').on('mousedown', function(){
                if ($(this).prop("checked") === true){
                    $('.proj').attr('hidden', true)
                }
                else{
                    $('.proj').attr('hidden', false)
                }

            })
            $('#createNewCam').on('click', function(){
                $.ajax({
                    async:false,
                    url: "{% url 'create_individual_cam' %}",
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function(data){
                        window.location.href = "{% url 'index' %}"
                    },
                    error: function(){
                        window.location.href = "{% url 'index' %}"
                    },
                })//end ajax
            })
            $('.DeleteCAM').on('click', function(){
                let delete_ = window.prompt("If you are sure, please type DELETE:", "");
                if (delete_ !== 'DELETE') {
                    txt = "User cancelled the prompt.";
                }
                else{
                    $.ajax({
                        async:false,
                        url: "{% url 'delete_cam' %}",
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'cam_id': $(this).attr('id').split('_')[1],
                        },
                        success: function(data){
                            window.location.reload()
                        },
                        error: function(){
                            console.log("Error")
                        },
                    })//end ajax
                }
            })

            $('#add_to_project').click(function(){
                if ($('#add_to_project_body').attr('hidden') === false){
                    $('#add_to_project_body').attr('hidden', true)
                }
                else{
                    $('#add_to_project_body').attr('hidden', false)
                }
            })
            $('#participantFormSubmit').on('click', function(e){
                e.preventDefault();
                checked_proj = $('#project_check').is(':checked');
                $.ajax({
                    async:false,
                    url: "{% url 'join_project' %}",
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'project_checked': checked_proj,
                        'project_name': $('#project_name').val(),
                        'project_password': $('#project_password').val()
                    },
                    success: function(data){
                        console.log(data)
                        if (data.message !== 'Success'){
                            $('#userCAMS').append('<div class="alert alert-danger" role="alert">\n' +
                                data.error_message+
                                '</div>')
                            //window.location.reload()
                        }
                        else if (data.message === 'Success'){
                            window.location.reload()
                            console.log('YAY')
			    window.location.href = "{% url 'index' %}"
                        }
                    },
                    error: function(data){
                        console.log("Error")
                        console.log(data)
                        $('#userCAMS').append('<div class="alert alert-danger" role="alert">\n' +
                                data.error_message+
                                '</div>')
                    },
                })//end ajax
            })


        </script>
