<!-- templates/signup.html -->
{% extends 'base2.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Project Page - Cognitive Affective Maps' %}{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper bg-topology">








    {{ active_project.user_set }}



    <!-- Content Header (Page header) -->
        <div class="content-header cascadHeadercontainer">
            <div class="container-fluid">
                <div class="row mt-2 mb-2">
                    <div class="col-sm-12 text-center">
                        <h1 class="m-0 display-1 cascadHeaderh">{{ active_project.name }}</h1>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->


    <!-- Content Header (Page header) -->
    <div class="content-header GeneralFont">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-1">
                    <h1 class="m-0 text-dark">{% trans 'Maps' %}</h1>
                </div><!-- /.col -->
                <div class="col-1">
                    <p>{% trans 'Download All' %}: </p>
                        <a class="btn btn-primary" href="{% url 'download_project' %}?pk={{ active_project.id }}">
                            <i class="fas fa-file-archive text-white"></i>
                        </a>
                </div>
                {% if active_project.Initial_CAM %}
                <div class="col-1">
                    <p>{% trans 'Initial Map' %}: </p>
                        <a class="btn btn-primary" href="../media/{{ active_project.Initial_CAM }}" download>
                            <i class="fas fa-th text-white"></i>
                        </a>
                </div>
                {% endif %}
                {% if active_project.password %}
                    <p>{% trans 'See Password' %}: <i class="fas fa-eye" id="show_pword"></i></p>
                    <h5 class="text-info ml-3" id="pword" hidden>{{ active_project.password }}</h5>
                {% endif %}
                <div class="col-1  ml-3">
                    <p>{% trans 'Edit Project' %}</p>
                    <a class="btn btn-primary" href="{% url 'project_settings' %}">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid GeneralFont">

            <div class="row">
                <div class="col-sm-12">
                    <!-- textarea -->
                    <div class="form-group">
                        <label>{% trans 'Description' %}: </label> <label style="font-weight: normal">
                        {{ active_project.description }}
                    </label>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title GeneralFont">{% trans 'Project Participants' %}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" id="UserTable">
                            <table id="example2" class="table table-bordered table-hover" >
                                <thead style="cursor: pointer;">
                                <tr>
                                <!--<th>#</th>-->
                                <th>{% trans 'Thumbnail' %}</th>
                                <th>{% trans 'Username' %}</th>
                                <th>{% trans 'Number of Concepts' %}</th>
                                <th>{% trans 'Number of Links' %}</th>
                                <th>{% trans 'Create Date' %}</th>
                                <th>{% trans 'Actions' %}</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for cam in active_project.cam_set.all %}

                            <tr>
                                <!--<td>{{ forloop.counter }}</td>-->
                                <td class="h-25 w-25">
                                    {% if user.language_preference == 'de' %}
                                        <img src="{{ MEDIA_URL }}/{{ cam.cam_image }}" alt="Image not found" onerror="this.onerror=null;this.src='{{ MEDIA_URL }}/CAM_example_german.png'"
                                             style="width:100%;object-fit: contain;">
                                    {% else %}
                                        <img src="{{ MEDIA_URL }}/{{ cam.cam_image }}" alt="Image not found" onerror="this.onerror=null;this.src='{{ MEDIA_URL }}/Cam_example.png'"
                                             style="width:100%;object-fit: contain;">
                                    {% endif %}
                                </td>
                                <td>{{ cam.user.username }}</td>
                                <td>{{ cam.block_set.all|length }}</td>
                                <td>{{ cam.link_set.all|length }}</td>
                                <td>{{ cam.creation_date }}</td>
                                <td><div>
                                        <div onclick="delete_user_cam({{ cam.id }})" title="Map löschen">
                                        <i class="fas fa-trash text-dark mr-auto" style="cursor:pointer"></i>
                                        </div>
                                        <a href="{% url 'download_cam' %}?pk={{ cam.id }}" title="Map herunterladen">
                                            <i class="fas fa-file-download text-primary save_cam"
                                               id="save_{{ cam.id }}"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                                </tbody>
                                <tfoot style="cursor: pointer;">
                                <tr>
                                <!--<th>#</th>-->
                                <th>{% trans 'Thumbnail' %}</th>
                                <th>{% trans 'Username' %}</th>
                                <th>{% trans 'Number of Concepts' %}</th>
                                <th>{% trans 'Number of Links' %}</th>
                                <th>{% trans 'Last Login' %}</th>
                                <th>{% trans 'Actions' %}</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->


                </div>
            </div>









        <!-- /.content -->


</div>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script>
    $(function () {
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    });
    // DELETE USER CALL
    function delete_user_cam(cam_id) {
        $('html').addClass("wait");

        let delete_ = window.prompt("If you are sure, please type DELETE:", "");
                if (delete_ !== 'DELETE') {
                    txt = "User cancelled the prompt.";
                }
                else{

        $.ajax({
            async:false,
            url: "{% url 'delete_user_cam' %}",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'cam_id': cam_id,
            },
            complete: function () {
                $('html').removeClass("wait");
            },
            success: function(data){
                //window.location.reload()
                $("#UserTable").load(location.href + " #UserTable");
            },
            error: function(){
                console.log("Error")
            },
        })//end ajax
                    }
    }
    $('#show_pword').on('click', function(){
        if (!$('#pword').attr('hidden')){
            $('#pword').attr('hidden', true)
        }
        else {
            $('#pword').attr('hidden', false)
        }
    })
</script>


{% endblock %}

