.draggable {
    width: 90px;
    height: 90px;
    padding: 1px;
    float: left;
}

.Selected {
    border-color: #50BFE6 !important;
}

.center-text {
  text-align: center;
}

.strong{
    border-width: 6px;
}

.close{
    z-index: 1;
}


.block-form{
    z-index: 1;
}

.Selected-link {
    #background: #DCDCDC !important;
    border-color: #DCDCDC !important;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
    z-index: 1;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
}

.block{
  background: transparent;
}

.rectangle{
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Neutral.3b701dfc9187.svg");
  background-size: 150px 100px;
  vertical-align: center;
}
.rectangle.Selected{
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Neutral_Selected.e0239670b314.svg");
  background-size: 150px 100px;
  vertical-align: center;
}


.rounded-circle-strong{
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Positive_Strong.aab61f464c8d.svg");
  background-size: 150px 100px;
  vertical-align: center;
}
.rounded-circle-strong.Selected{
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Positive_Strong_Selected.f4c670385971.svg");
  background-size: 150px 100px;
  vertical-align: center;
}

.rounded-circle-normal{
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Positive.833c3ae34956.svg");
  background-size: 150px 100px;
  vertical-align: center;
}
.rounded-circle-normal.Selected{
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Positive_Selected.671bd278134b.svg");
  background-size: 150px 100px;
  vertical-align: center;
}

.rounded-circle-weak{
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Positive_Weak.d0bf18ad317c.svg");
  background-size: 150px 100px;
  vertical-align: center;
}
.rounded-circle-weak.Selected{
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Positive_Weak_Selected.92039aab58ae.svg");
  background-size: 150px 100px;
  vertical-align: center;
}



.hexagonAmb {
z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Ambivalent.cfe551aa8fd9.svg");
  background-size: 150px 100px;
  vertical-align: center;
}
.hexagonAmb.Selected {
z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Ambivalent_Selected.a9d51a074b8a.svg");
  background-size: 150px 100px;
  vertical-align: center;
}

.hexagonNegStrong {
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Hexagon_Strong.5472dd1ed4b6.svg");
  background-size: 150px 100px;
  vertical-align: center;
}
.hexagonNegStrong.Selected {
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Hexagon_Strong_Selected.067dd01692e6.svg");
  background-size: 150px 100px;
  vertical-align: center;
}

.hexagonNeg {
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Hexagon.c5b33d8f7ec7.svg");
  background-size: 150px 100px;
  vertical-align: center;
}
.hexagonNeg.Selected {
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Hexagon_Selected.02c96e232350.svg");
  background-size: 150px 100px;
  vertical-align: center;
}

.hexagonNegWeak {
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Hexagon_Weak.c7ca71bf1369.svg");
  background-size: 150px 100px;
  vertical-align: center;
}
.hexagonNegWeak.Selected{
  z-index: 2;
  position: relative;
  width: 150px;
  height: 100px;
  background: url("../concept_svgs/Hexagon_Weak_Selected.67ba0d7a3557.svg");
  background-size: 150px 100px;
  vertical-align: center;
}
